.loginStyles {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  align-items: right;
  align-content: center;
  margin: 20px 30px;
  height: 500%;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
